.agent-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.agent-form > .agent-form__input {
    margin-bottom: 20px;
}
.agent-form__inputBox {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 10px;
}

.agent-form__input {
    border: 1px solid #ccc;
    padding: 10px 4px;
    font-size: 15px;
    text-transform: none;
    width: 350px;
}

.agent-form__btn-submit {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #27ae60;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
    border: none;
}

.agent-form__btn-submit:hover {
    background: #2ecc71;
}

@media screen and (max-width: 768px) {
    .contact-wrapper {
        flex-direction: column;
        gap: 5rem;
    }
    .agent-form__input {
        width: 100%;
    }
    .contact-info {
        width: 100%;
    }
}
