.button {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #27ae60;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
    border: none;
    text-align: center;
    display: block !important;
}

.button:hover {
    background: #2ecc71;
}

.button-icon {
    font-size: 1em;
    /* padding: 0.4em 1em; */
    /* border: 1px solid #d2d2d2; */
    cursor: pointer;
    background-color: transparent;
    color: #595959;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 0.5rem;
}

.button-icon--reverse {
    flex-direction: row-reverse;
}

.button-icon--outline {
    border: 1px solid #d2d2d2;
    border-radius: 1.5px;
    padding: 0.4em 1em;
}
